@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-geist-sans);
  --font-sans: var(--font-geist-sans);
}

@layer base {
  html {
    @apply font-sans;
  }

  body {
    margin: 0;
  }
}
